<%- include layouts/header.ejs %>

        <div class="page-data">
         <!-- <div class="data-btn"> -->
                <!-- <a class="a-inside add" href="../employees/empadd">Add</a> -->
                
         <!-- </div> -->
         <form method="post" action="/bloodsearch">
            <table cellpadding="11">
                    <tr>
                            <td class="label">Blood Type</td><td>: <input type="text" name="type" required></td>
                         </tr>
                         <tr>
                             <td><input type="submit" name="submit" value="Search"></td>
                         </tr>
                        </table>
                    </form>

         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <!-- <th width="50px">No</th> -->
                    <th>Donor ID</th>
                    <th>Name</th>
                    <th>Sex</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Donation Id</th>
                    <th>Code</th>
                    <th>BloodBank Id</th>
                    <th>Type</th>
                    <th>Cost</th>
                    <th>Amount</th>
                    
                    <th width="120px">Action</th>
                </tr>
                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    <!-- <td><%=(i+1)%></td> -->
                    <td><%=data[i].id%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].sex%></td>
                    <td><%=data[i].age%></td>
                    <td><%=data[i].address%></td>
                    <td><%=data[i].phone%></td>
                    <td><%=data[i].did%></td>
                    <td><%=data[i].code%></td>
                    <td><%=data[i].bloodbank%></td>
                    <td><%=data[i].type%></td>
                    <td><%=data[i].cost%></td>
                    <td><%=data[i].amount%></td>
                    <td>
                        <!-- <a class="a-inside edit" href="../employees/update/<%=data[i].id%>">Edit</a>
                       
                        <a class="a-inside delete" href="../employees/delete/<%=data[i].id%>">Delete</a>
                        -->
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>
                
                              
                
            </table>
         </div>
        </div>
        
<%- include layouts/footer.ejs %>