<%- include layouts/header.ejs %>

        <div class="page-data">
            
            <form method="post" action="/issues/edit/<%=data[0].id%>">
                <table cellpadding="11">
                        <tr>
                                <td class="label">Issue #</td><td>: <input type="text" name="id" value="<%=data[0].id%>" required></td>
                             </tr>
                <tr>
                    <td class="label">Bloodbank</td><td>: <input type="text" name="bloodbank" value="<%=data[0].bloodbank%>" required></td>
                 </tr>
            
                  <tr>
                    <td class="label">Hospital</td><td>: <input type="text" name="hospital" value="<%=data[0].hospital%>" required></td>
                 </tr>
                 <tr>
                     <tr>
                    <td class="label">Type</td><td>: <input type="text" name="type" value="<%=data[0].type%>" required></td>
                 </tr>
                 <tr>
                 <tr>
                <td class="label">Amount</td><td>: <input type="text" name="amount" value="<%=data[0].amount%>" required></td>
                </tr>
                <tr>
                        <td class="label">Cost</td><td>: <input type="text" name="cost" value="<%=data[0].cost%>" required></td>
                        </tr>
                <tr>
             <td class="label">Date</td><td>: <input type="text" name="date" value="<%=data[0].date%>" required></td>
             </tr>
             <tr>
                    <td class="label">Order #</td><td>: <input type="text" name="order_num" value="<%=data[0].order_num%>" required></td>
                    </tr>
             <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                        <a class="a-inside delete" href="../back">Cancel</a>                    </td>
                        
                    </td>
                 </tr>
                </table>
            </form>
            
        </div>
        
<%- include layouts/footer.ejs %>