<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
                <a class="a-inside add" href="../orders/add">Add</a>
                
         </div>
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <!-- <th width="50px">No</th> -->
                    <th>Order #</th>
                    <th>Bloodbank</th>
                    <th>Hospital</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Date</th>
                
                    <th width="120px">Action</th>
                </tr>
                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    <!-- <td><%=(i+1)%></td> -->
                    <td><%=data[i].id%></td>
                    <td><%=data[i].bloodbank%></td>
                    <td><%=data[i].hospital%></td>
                    <td><%=data[i].type%></td>
                    <td><%=data[i].amount%></td>
                    <td><%=data[i].date%></td>
                    <td>
                        <a class="a-inside edit" href="../orders/edit/<%=data[i].id%>">Edit</a>
                       
                        <a class="a-inside delete" href="../orders/delete/<%=data[i].id%>">Delete</a>
                       
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>
                
                              
                
            </table>
         </div>
        </div>
        
<%- include layouts/footer.ejs %>